<%= form_with(model: societe, class: "contents") do |form| %>
  <% if societe.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(societe.errors.count, "error") %> prohibited this societe from being saved:</h2>

      <ul class="list-disc ml-6">
        <% societe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": societe.errors[:name].none?, "border-red-400 focus:outline-red-600": societe.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": societe.errors[:phone].none?, "border-red-400 focus:outline-red-600": societe.errors[:phone].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :ville_id %>
    <%= form.collection_select :ville_id, Ville.all, :id, :name, { prompt: "Sélectionnez une ville" }, class: "block shadow-sm rounded-md border border-gray-400 px-3 py-2 mt-2 w-full focus:outline-blue-600" %>
  </div>

  <div class="my-5">
    <%= form.label :logo %>
    <%= form.file_field :logo, class: "block shadow-sm rounded-md border border-gray-400 px-3 py-2 mt-2 w-full focus:outline-blue-600" %>
  </div>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.text_field :email, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": societe.errors[:email].none?, "border-red-400 focus:outline-red-600": societe.errors[:email].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
